<table border="0" bgcolor="{BORDER}" width="100%" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<th class="td" width="50%">::{LANG-BOARDSTAT}::</th><th bgcolor="{TABLE1}" width="50%" class="td">::{LANG-ICONGUIDE}::</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">
{LANG-NEWESTMEMBER}: {NEWESTMEMBER}<br>
<b>{TOTAL-TOPIC}</b> {LANG-TOTALTOPIC} / <b>{TOTAL-POST}</b> {LANG-TOTALPOST} / <b>{TOTAL-USER}</b> {LANG-TOTALUSER}</td>
<td class="td"><img src="template/simple/images/new.gif" alt="">{LANG-NEWPOST}<br><img src="template/simple/images/old.gif" alt="">{LANG-OLDPOST}</td>
</tr>
</table><br>