<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-GROUPPERMISSION}<br><br>
{LANG-TEXT}<br><br>

<table width="100%" align="center" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<th colspan="2" class="td">::{LANG-GROUPPERMISSION}::</th></tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="50%" align="center">{LANG-BOARDNAME}</td>
<td class="td" width="50%" align="center">{LANG-GROUPRIGHTS}</td>
</tr>
{GROUPRIGHTS}
</table>