<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-GROUPSETUP}<br><br>
{LANG-TEXT}<br><br>
[<a href="CP.php?action=new_group">{LANG-NEWGROUP}</a>]<br><br>
<table border="0" bgcolor="{BORDER}" width="100%" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}"><td colspan="6" class="td" align="center"><b>::{LANG-GROUPSETUP}::</b></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="10%">&nbsp;</td>
<td class="td" align="center" width="20%">{LANG-GROUPNAME}</td>
<td class="td" align="center" width="20%">{LANG-GROUPLEADER}</td>
<td class="td" align="center" width="20%">{LANG-GROUPSTATUS}</td>
<td class="td" align="center" width="10%">{LANG-GROUPACCESS}</td>
<td class="td" align="center" width="20%">{LANG-GROUPMEMBERLIST}</td>
</tr>
{GROUPS}
</table>