<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-MODIFYSMILES}<br><br>
<form method="post" action="CP.php?action=modify_smiles_process&id={ID}">
<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-MODIFYSMILES}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-SMILECODE}</td>
<td class="td" width="50%"><input type="text" name="smile_code" size="30" value="{SMILECODE}" class="text"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-SMILEFILE}</td>
<td class="td"><input type="text" name="smile_file" size="30" value="{SMILEFILE}" class="text"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center"><input type="submit" value="{LANG-MODIFYSMILES}" class="submit"></td>
</tr>
</table>
</form>