<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-MODIFYRANK}<br><br>
<form method="post" action="CP.php?action=rank_edit_process&amp;id={ID}">
<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-MODIFYRANK}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-RANKNAME}</td>
<td class="td" width="50%"><input type="text" name="rank_name" value="{RANKNAME}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-STAR}</td>
<td class="td" width="50%"><input type="text" name="rank_star" value="{STARIMAGE}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-POSTRULE}</td>
<td class="td" width="50%"><input type="text" name="rank_post" value="{POSTRULE}" class="text" size="30"><br>
</td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center"><input type="submit" value="{LANG-MODIFYRANK}" class="submit"></td>
</tr>
</table>
</form>