<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>
{LANG-WELCOME}<br><br>
<p align="center">
<b>[<a href="#" OnClick="open_win('http://elite-board.us/checkver.php?yourver={VERSION}');return false;">{LANG-CHECKVERSION}</a>]</b></p>
<table border="0" width="60%" align="center" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<th class="td" align="center">::{LANG-MAINMENU}::</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" align="center">
<ul id="menu">
  <li>{LANG-BOARDMENU}
    <ol>
      <li><a href="CP.php?action=boards">{LANG-BOARDSETUP}</a>
      <li><a href="CP.php?action=prune">{LANG-PRUNE}</a></li>
    </ol>
  </li>
  <li>{LANG-GENERALMENU}
    <ol>
      <li><a href="CP.php?action=settings">{LANG-SETTINGS}</a></li>
      <li><a href="CP.php?action=newsletter">{LANG-NEWSLETTER}</a></li>
      <li><a href="CP.php?action=smiles">{LANG-SMILES}</a></li>
      <li><a href="CP.php?action=censor">{LANG-CENSOR}</a></li>
    </ol>
  </li>
  <li>{LANG-GROUPMENU}
    <ol>
      <li><a href="CP.php?action=groupsetup">{LANG-GROUPSETUP}</a></li>
      <li><a href="CP.php?action=grouppermission">{LANG-GROUPPERMISSION}</a></li>
      <li><a href="CP.php?action=pendinglist">{LANG-PENDINGLIST}</a></li>
    </ol>
  </li>
  <li>{LANG-STYLEMENU}
    <ol>
      <li><a href="CP.php?action=add_style">{LANG-CREATESTYLE}</a></li>
      <li><a href="CP.php?action=style">{LANG-MANAGE}</a></li>
    </ol>
  </li>
  <li>{LANG-USERMENU}
    <ol>
      <li><a href="CP.php?action=banlist">{LANG-BAN}</a></li>
      <li><a href="CP.php?action=blacklistuser">{LANG-BLACKLISTUSERS}</a></li>
      <li><a href="CP.php?action=user_prune">{LANG-USERPRUNE}</a></li>
      <li><a href="CP.php?action=activate">{LANG-ACTIVATE}</a></li>
      <li><a href="CP.php?action=user_manage">{LANG-MANAGE}</a></li>
      <li><a href="CP.php?action=ranks">{LANG-RANKS}</a></li>
    </ol>
  </li>
  <li>{LANG-UTILITIES}
    <ol>
      <li><a href="CP.php?action=analyze">{LANG-ANALYZE}</a></li>
      <li><a href="CP.php?action=optimize">{LANG-OPTIMIZE}</a></li>
      <li><a href="CP.php?action=repair">{LANG-REPAIR}</a></li>
    </ol>
  </li>
</ul>
</td></tr>
</table>