<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-CREATEGROUP}<br><br>

<form method="post" action="CP.php?action=new_group_process">
<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-CREATEGROUP}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-GROUPNAME}</td>
<td class="td" width="50%"><input type="text" name="group" size="30" class="text" maxlength="50"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-GROUPDESCRIPTION}</td>
<td class="td" width="50%"><textarea name="description" rows="3" cols="50" wrap="soft" class="text"></textarea></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-GROUPLEADER}</td>
<td class="td" width="50%"><input type="text" name="leader" size="30" class="text" maxlength="50"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-GROUPSTATUS}</td>
<td class="td" width="50%"><input type="radio" name="status" value="0">{LANG-CLOSE}&nbsp;<input type="radio" name="status" value="1">{LANG-OPEN}&nbsp;<input type="radio" name="status" value="2">{LANG-HIDDEN}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-GROUPACCESS}</td>
<td class="td" width="50%"><select name="groupaccess" class="text">
<option value="">{LANG-SEL-LEVEL}
<option value="1">{LANG-LEVEL-1}
<option value="2">{LANG-LEVEL-2}
<option value="3">{LANG-LEVEL-3}
</select></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-LIMITATIONS}</td>
<td class="td" width="50%"><select name="limitations" class="text">
<option value="0">{LANG-NONE}
<option value="1">{LANG-LIMITEDCP}
<option value="2">{LANG-BANPM}
<option value="3">{LANG-BANAVATAR}
<option value="4">{LANG-BANPROFILE}
</select></td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center"><input type="submit" value="{LANG-ADDGROUP}" class="submit"></td>
</tr>
</table>
</form>