<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-PRUNE}<br><br>
<form method="post" action="CP.php?action=prune_process">
<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-PRUNE}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-TEXT}<br>{LANG-PRUNERULE}</td>
<td class="td" width="50%"><input type="text" name="prune_age" maxlength="3" size="10" class="text"></td>
</tr>

<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-BOARDLIST}</td>
<td class="td" width="50%">{BOARDLIST}</td>
</tr>

<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit"></td>
</tr>
</table>
</form>