<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-SMILES}<br><br>
[<a href="CP.php?action=add_smiles">{LANG-ADDSMILES}</a>]<br><br>

<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td class="td" width="25%">&nbsp;</td>
<td class="td" width="25%" align="center">{LANG-SMILE}</td>
<td class="td" width="25%" align="center">{LANG-CODE}</td>
<td class="td" width="25%" align="center">{LANG-FILENAME}</td>
</tr>
{SMILES}
</table>