<a href="index.php">{TITLE}</a> &#187; <a href="CP.php">{LANG-TITLE}</a> &#187; {LANG-SELECTUSER}<br><br>
{LANG-TEXT}<br><br>
<form method="post" action="CP.php?action=user_manage2">
<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-SELECTUSER}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-USERNAME}</td>
<td class="td" width="50%"><input type="text" name="username" maxlength="50" size="30" class="text"></td>
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center"><input type="submit" value="{LANG-SELECTUSER}" class="submit"></td>
</tr>
</table>
</form>