<a href="index.php">{TITLE}</a> &#187; <a href="Profile.php">{LANG-TITLE}</a> &#187; {LANG-EDITPASS}<br><br>
{LANG-TEXT}
<form method="post" action="Profile.php?mode=new_password_process">
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td class="td" colspan="2" align="center">{LANG-EDITPASS}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-CURRPASS}</td>
<td class="td" width="50%"><input type="text" name="curpass" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-NEWPASS}</td>
<td class="td" width="50%"><input type="text" name="newpass" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-CONFIRMPASS}</td>
<td class="td" width="50%"><input type="text" name="confirmpass" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" colspan="2" align="center"><input type="submit" value="{LANG-UPDATEPASS}" class="submit"></td>
</tr>
</table>
</form>