<a href="index.php">{TITLE}</a> &#187; <a href="Profile.php">{LANG-TITLE}</a> &#187; {LANG-EDITEMAIL}<br><br>
{LANG-TEXT}
<form method="post" action="Profile.php?mode=new_email_process">
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td class="td" colspan="2" align="center">{LANG-EDITEMAIL}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-CURREMAIL}</td>
<td class="td" width="50%"><input type="text" name="curemail" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-NEWEMAIL}</td>
<td class="td" width="50%"><input type="text" name="newemail" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-CONFIRMEMAIL}</td>
<td class="td" width="50%"><input type="text" name="conemail" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" colspan="2" align="center"><input type="submit" value="{LANG-UPDATEEMAIL}" class="submit"></td>
</tr>
</table>
</form>