<a href="index.php">{TITLE}</a> &#187; <a href="Profile.php">{LANG-TITLE}</a> &#187; {LANG-EDITPROFILE}<br><br>
{LANG-TEXT}
<form method="post" action="Profile.php?mode=profile_process">
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-EDITPROFILE}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-CURRPASS}<br>{LANG-ENTERPASS}</td>
<td class="td" width="50%"><input type="password" name="conpass" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-PMNOTIFY}</td>
<td class="td" width="50%">{PMNOTIFY}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-SHOWEMAIL}</td>
<td class="td" width="50%">{SHOWEMAIL}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-MSN}</td>
<td class="td" width="50%"><input type="text" name="msn" value="{MSN}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-AOL}</td>
<td class="td" width="50%"><input type="text" name="aol" value="{AOL}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-ICQ}</td>
<td class="td" width="50%"><input type="text" name="icq" value="{ICQ}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-YAHOO}</td>
<td class="td" width="50%"><input type="text" name="yim" value="{YAHOO}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-WWW}</td>
<td class="td" width="50%"><input type="text" name="www" value="{WWW}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-TIME}</td>
<td class="td" width="50%">{TIME}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-TIMEFORMAT}<br>{LANG-TIMEINFO}</td>
<td class="td" width="50%"><input type="text" name="time_format" value="{TIMEFORMAT}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-STYLE}</td>
<td class="td" width="50%">{STYLE}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-LANGUAGE}</td>
<td class="td" width="50%">{LANGUAGE}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-LOCATION}</td>
<td class="td" width="50%"><input type="text" name="location"  value="{LOCATION}" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center"><input type="submit" VALUE="{SUBMIT}" class="submit"></td>
</tr>
</table>
</form>
