<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>

{LANG-TEXT}<br><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q1}</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A1}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q2}</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A2}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q3}</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A3}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q4}</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A4}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q5}</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A5}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q6}</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A6}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q7}</th>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A7}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q8}</th></tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A8}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q9}</th></tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A9}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q10}</th></tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A10}</td></th>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q11}</th></tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A11}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q12}</th></tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A12}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q13}</th></tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A13}</td></tr>
</table><br>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-Q14}</th></tr>
<tr bgcolor="{TABLE2}">
<td class="td">{LANG-A14}</td></tr>
</table><br>
<br><br>{LANG-TEXT2}<br><br>