<a href="index.php">{TITLE}</a> &#187; <a href="groups.php">{LANG-TITLE}</a> &#187; {LANG-VIEWGROUP}<br><br>

<table width="100%" align="center" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<th colspan="2" class="td">::{LANG-GROUPDETAILS}::</th>
</tr>
{GROUPDETAILS}
</table><br>

<table width="100%" align="center" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<th colspan="4" class="td">::{LANG-GROUPMEMBERS}::</th>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="25%">&nbsp;</td>
<td class="td" width="25%" align="center">{LANG-USERNAME}</td>
<td class="td" width="25%" align="center">{LANG-POSTCOUNT}</td>
<td class="td" width="25%" align="center">{LANG-REGISTRATIONDATE}</td>
</tr>
{GROUPMEMBERS}
</table>