<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>
{TEXT}
<form method="post" action="checkuser.php">
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">::{LANG-TITLE}::</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-USERNAME}<br>[<a href="register.php">{LANG-REGISTER}</a>]</td>
<td class="td" width="50%"><input type="text" name="username" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-PASSWORD}<br>[<a href="login.php?mode=lostpassword">{LANG-FORGOT}</a>]</td>
<td class="td" width="50%"><input type="password" name="password" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-REMEMBER}</td>
<td class="td" width="50%"><input type="checkbox" name="auto_login" value="1">{LANG-REMEMBERTXT}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center"><input type="submit" value="{LANG-LOGIN}" class="submit"></td>
</tr>
</table>
<input type="hidden" name="redirect" value="{PATH-REDIRECT}">
</form>