<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>
{LANG-TEXT}<br><br>
<form method="post" action="manage.php?mode=move_process&tid={TID}&bid={BID}">
<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td class="td" align="center">{LANG-SUBMIT}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" align="center">{BOARDLIST}</td>
<tr bgcolor="{TABLE1}">
<td class="td" align="center"><input type="submit" value="{LANG-SUBMIT}" class="submit"></td></tr>
</table>
</form>