<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>
<table border="0" width="100%" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td class="td" colspan="2" align="center">{LANG-IPINFO}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-IP}</td>
<td class="td" width="50%">{IP}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-USERNAME}</td>
<td class="td" width="50%">{USERNAME}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-TOTALCOUNT}</td>
<td class="td" width="50%">{TOTALCOUNT}</td>
</tr>
</table>