<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>
{PAGENATION}<br>
<a href="PM.php?action=banlist"><img src="template/simple/images/viewbanlist.gif" border="0" alt="{LANG-VIEWBANLIST}"></a>&nbsp;<a href="PM.php?action=write"><img src="template/simple/images/newtopic.gif" border="0" alt="{LANG-POSTPM}"></a><br>
<b>{LANG-PMRULE}</b>&nbsp;{PMRULE}<br>
<b>{LANG-CURRENTAMOUNT}</b>&nbsp;{CURRENTAMOUNT}<br>

<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<th class="td" width="5%">&nbsp;</th>
<th class="td" width="50%">{LANG-SUBJECT}</th>
<th class="td" width="25%">{LANG-SENDER}</th>
<th class="td" width="20%">{LANG-PMDATE}</th>
</tr>
{PM-INBOX}
</table>