<a href="index.php">{TITLE}</a> &#187; <a href="PM.php">{LANG-TITLE}</a> &#187; {LANG-READPM}<br><br>
{REPLYBUTTON}
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-READPM}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-FROM}</td>
<td class="td" width="50%">{FROM} [<a href="PM.php?action=ban&amp;ban_user={FROM}">{LANG-BANUSER}</a>]</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-TO}</td>
<td class="td" width="50%">{TO}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-DATE}</td>
<td class="td" width="50%">{DATE}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-SUBJECT}</td>
<td class="td" width="50%">{SUBJECT}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td colspan="2" class="td">{PM-MESSAGE}<br><br>{SIGNATURE}</td>
</tr>
</table>