<script language='JavaScript'>

  <!--
  function bbcode(which) {
  document.forum.post.value = document.forum.post.value + which;
  }
  //-->
</script>
<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>

<table border="0" bgcolor="{BORDER}" align="center" width="100%" cellpadding="1" cellspacing="1">
<tr bgcolor="{TABLE1}">
<td class="td" align="center">{LANG-POSTINGRULES}</td>
</tr>
<tr bgcolor="{TABLE2}" align="center">
<td class="td">{LANG-ALLOWHTML}: <b>{ALLOWHTML}</b> &nbsp;|&nbsp;{LANG-ALLOWSMILES}: <b>{ALLOWSMILES}</b> &nbsp;|&nbsp;{LANG-ALLOWBBCODE}: <b>{ALLOWBBCODE}</b> &nbsp;|&nbsp;{LANG-ALLOWIMG}: <b>{ALLOWIMG}</b></td>
</tr>
</table><br>
<form method="post" action="Process.php?mode=New_Poll&bid={BID}" name="forum">
<table border="0" bgcolor="{BORDER}" align="center" width="100%" cellpadding="1" cellspacing="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" align="center" class="td">{LANG-TITLE}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" align="center" class="td">{BBCODE}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-USERNAME}</td>
<td class="td" width="80%">{USERNAME}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-POSTINGIN}</td>
<td class="td" width="80%">{POSTINGIN}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-TOPIC}</td>
<td class="td" width="80%"><input type="text" name="topic" class="text" size="30"></td>
</tr>
<tr>
<td class="td" bgcolor="{TABLE2}" align="center" width="20%">{SMILES}<br>
<a href="#" OnClick="open_win('smiles.php');return false;">{LANG-SMILES}</a></td>
<td class="td" bgcolor="{TABLE1}" align="center" width="80%"><textarea name="post" rows="5" cols="90" wrap="soft" class="text"></textarea></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTIONS}</td>
<td class="td" width="80%">{POST-TYPE}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{LANG-POLL}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-QUESTION}</td>
<td class="td" width="80%"><input type="text" name="question" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION1}</td>
<td class="td" width="80%"><input type="text" name="poll_otp1" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION2}</td>
<td class="td" width="80%"><input type="text" name="poll_otp2" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION3}</td>
<td class="td" width="80%"><input type="text" name="poll_otp3" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION4}</td>
<td class="td" width="80%"><input type="text" name="poll_otp4" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION5}</td>
<td class="td" width="80%"><input type="text" name="poll_otp5" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION6}</td>
<td class="td" width="80%"><input type="text" name="poll_otp6" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION7}</td>
<td class="td" width="80%"><input type="text" name="poll_otp7" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION8}</td>
<td class="td" width="80%"><input type="text" name="poll_otp8" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION9}</td>
<td class="td" width="80%"><input type="text" name="poll_otp9" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td class="td" width="20%">{LANG-OPTION10}</td>
<td class="td" width="80%"><input type="text" name="poll_otp10" class="text" size="30"></td>
</tr>
<tr bgcolor="{TABLE1}">
<td colspan="2" align="center" class="td"><input type="submit" value="{LANG-POSTTOPIC}" class="submit"></td>
</tr>
</table>
</form>
