<html>
<head>
<title>{TITLE} - {LANG-TITLE}</title>
<link rel="stylesheet" type="text/css" href="template/simple/style.css">
</head>
<body bgcolor="{BGCOLOR}" text="{TEXTCOLOR}" link="{LINKCOLOR}" vlink="{VLINKCOLOR}">
<p align="center">{LANG-TEXT}</p>
<table border="0" bgcolor="{BORDER}" align="center" width="80%" cellpadding="1" cellspacing="1">
<tr bgcolor="{TABLE1}">
<td align="center" class="td">{LANG-TITLE}</td>
</tr>
<tr bgcolor="{TABLE1}">
<td align="center" class="td">{SMILE}</td>
</tr>
</table>
<p align="center">[<a href="javascript:self.close();">{LANG-CLOSEWINDOW}</a>]</p>
</body>
</html>