<table width="100%" cellspacing="1" cellpadding="1">
<tr>
<td><a href="index.php"><img src="template/simple/images/boardlogo.jpg" alt="{TITLE}" border="0"></a></td>
<td class="td">{LANG-WELCOME}! <a href="login.php">{LANG-LOGIN}</a> | <a href="register.php">{LANG-REGISTER}</a></td>
</tr>
<tr>
<td bgcolor="{TABLE1}"colspan="2" class="td" align="center"><a href="{ADDRESS}">{LANG-HOME}</a> - <a href="Search.php">{LANG-SEARCH}</a> - <a href="FAQ.php">{LANG-FAQ}</a> - <a href="Members.php">{LANG-MEMBERLIST}</a> - <a href="groups.php">{LANG-GROUPLIST}</a></td>
</tr>
</table>