<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>

<p align="center"><a href="Search.php?action=user_result&search_type=topic&poster={USERNAME}">{LANG-FINDTOPICS}</a> - <a href="Search.php?action=user_result&search_type=post&poster={USERNAME}">{LANG-FINDPOSTS}</a></p>
<table width="100%" border="0" bgcolor="{BORDER}" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<td colspan="2" class="td" align="center">{USERNAME}'s Profile</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-RANK-AVATAR}</td>
<td class="td" width="50%">{LANG-RANK}:&nbsp;{RANK}<br>
<img src="{AVATAR}" alt="{USERNAME}'s Avatar" title="{USERNAME}'s Avatar"></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-POSTCOUNT}</td>
<td class="td" width="50%">{POSTCOUNT}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-EMAIL}</td>
<td class="td" width="50%">{EMAIL}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-MSN}</td>
<td class="td" width="50%">{MSN}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-AOL}</td>
<td class="td" width="50%"><a href="aim:goim?screenname={AOL}&message=Hi,+Are+you+there?">{AOL}</a>
</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-ICQ}</td>
<td class="td" width="50%">{ICQ}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-YAHOO}</td>
<td class="td" width="50%">{YAHOO}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-WWW}</td>
<td class="td" width="50%"><a href="{WWW}" target="_blank">{WWW}</a></td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-LOCATION}</td>
<td class="td" width="50%">{LOCATION}</td>
</tr>
<tr bgcolor="{TABLE2}">
<td class="td" width="50%">{LANG-JOINED}</td>
<td class="td" width="50%">{JOINED}</td>
</tr>
</table>