<a href="index.php">{TITLE}</a> &#187; {LANG-TITLE}<br><br>
{PAGENATION}<br>
{POST-RULE}
<table border="0" bgcolor="{BORDER}" width="100%" cellspacing="1" cellpadding="1">
<tr bgcolor="{TABLE1}">
<th class="td" width="5%">&nbsp;</th>
<th class="td" width="40%">{LANG-TOPIC}</th>
<th class="td" width="15%">{LANG-POSTEDBY}</th>
<th class="td" width="10%">{LANG-REPLIES}</th>
<th class="td" width="10%">{LANG-POSTVIEWS}</th>
<th class="td" width="20%">{LANG-LASTPOSTEDBY}</th>
</tr>
{VIEWBOARD}
</table><br>

<table border="0" bgcolor="{BORDER}" width="100%" cellspacing="1" cellpadding="1">
<tr>
<th bgcolor="{TABLE1}" class="td">{LANG-ICONGUIDE}</th>
</tr><tr>
<td bgcolor="{TABLE2}" class="td" align="center">
<img src="template/simple/images/new.gif" align="middle" alt="{LANG-NEW}">{LANG-NEW}&nbsp;&nbsp;<img src="template/simple/images/old.gif" align="middle" alt="{LANG-OLD}">{LANG-OLD}&nbsp;&nbsp;<img src="template/simple/images/poll.gif" align="middle" alt="{LANG-POLL}">{LANG-POLL}&nbsp;&nbsp;<img src="template/simple/images/locked_topic.gif" align="middle" alt="{LANG-LOCKED}">{LANG-LOCKED}&nbsp;&nbsp;<img src="template/simple/images/important.gif" align="middle" alt="{LANG-IMPORTANT}">{LANG-IMPORTANT}&nbsp;<img src="template/simple/images/hottopic.gif" align="middle" alt="{LANG-HOTTOPIC}">{LANG-HOTTOPIC}</td>
</tr></table>
<div class="td">{BOARD-POLICY}</div>